body {
    font-family: 'Roboto', sans-serif;
}


header {
    background-image: url('../img/header_background.png');
    height: 650px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 40px;
}

footer {
    height: 340px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #182E4F 0%, #64B880 100%);
    margin-top: 60px;
}


.container {
    padding: 0px 50px 0px 50px !important;
    margin-bottom: 0px !important;
}


#menu {
    background-color: #FFFFFF85;
    width: 100%;
    color: #182E4F;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    max-width: 1140px;
    margin: auto;
    padding: 10px;
    display: flex;
}

#logotipo {
    width: 25%;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

#menu-items {
    width: 75%;
    display: flex;
}

#menu-items div {
    margin: auto;
}

/* Remove as bolinhas dos itens da lista */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;

    font-family: "Roboto", Sans-serif;
    font-size: 17px;
    font-weight: 600;

}

nav ul li a {
    text-decoration: none;
    color: #182E4F;
    fill: #182E4F;

    padding: 13px 20px;
    line-height: 20px;
}

#form-simulador {
    width: 100%;
    padding: 60px 50px 50px 50px;
    margin-top: -440px;
    background-color: #fafafa;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

}

#form-simulador .titulo-form {
    font-size: 35px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 1.1px;
    word-spacing: 1px;
}

.btn-form-simulador {
    margin-right: 10px;
    width: 108px;
}

.panel-value {
    width: 100%;
    background-color: #f4f4f4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
}

.btn-primary {
    background-color: #182E4F !important;
    border: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    min-width: 250px !important;
    padding: 10px;
}

.btn-primary:hover {
    background-color: #1e3b67 !important;
    border: none;
}


.label-valor {
    font-size: 20px;
    color: #198754;
}

.label-total-financiamento {
    font-size: 16px;
    color: #ffffff;
    width: 100%;
    background-color: #ff5d53;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 5px;

}

.label-money{
    margin: auto;
    font-size: 20px;
}

.input-valor {
    font-family: inherit;
    width: 100%;
    border: none;
    text-align: center;
    outline: 0;
    font-size: 2.5rem;
    color: #000000;
    /* $white */
    padding: 7px 0;
    background: transparent;
    box-shadow: none !important;
}

.input-valor:hover,:focus {
    background: transparent !important;
    /* border: none !important; */
    outline: 0 !important;
    box-shadow: none !important;
}

/* Cores */
.form__group {
    position: relative;
    padding: 15px;
    margin-top: 10px;

}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    /* $gray */
    outline: 0;
    font-size: 1.3rem;
    color: #9b9b9b;
    /* $white */
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown+.form__label {
    font-size: 1.0rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
    /* $gray */
}

.form__field:focus+.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    /* $primary */
    font-weight: 700;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    /* $primary, $secondary */
    border-image-slice: 1;
}

.form__field:required,
.form__field:invalid {
    box-shadow: none;
}